doctype html
html
    head
        title Create Records
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/styles.css')
    body
        include navigation.pug
        div.container
            h1 Create a New Record
            form(action="/create", method="POST")
                //person_id
                div.form-group
                    label(for='person_id') Person ID:
                    input(
                    type='number'
                    name='person_id'
                    )
                div.form-group
                    label(for='communication_date') Date:
                    input(
                    type="date"
                    name="communication_date"
                    )

                div.form-group
                    label(for='communication_type') Type:
                    input(
                    type="text"
                    name="communication_type"
                    )


                div.form-group
                    label(for='reason') Reason:
                    input(
                    type="text"
                    name="reason"
                    )
                div.form-group
                    label(for='direction') Direction:
                    input(
                    type="text"
                    name="direction"
                    )

                div.form-group
                    input(
                    type="submit"
                    value="Create Record"
                    )

