doctype html
html
    head
        title Sarah Abing
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/styles.css')

    body
        include navigation.pug
        div.container
            table.table-striped.table-responsive.table.text-center
                each c in col
                    th=c
                each record in recordset
                    tr
                        td=record.person_id
                        td=record.communication_date
                        td=record.communication_type
                        td=record.reason
                        td=record.direction


